.button {
  background-color: rgb(245, 145, 62);
  color: rgb(16, 35, 62);
  width: 25%;
  font-weight: bold;
  border: 1px solid rgba(184, 184, 184, 0.5);
}

.button_double {
  width: 50%;
}

.button_gray {
  background-color: rgb(224, 224, 224);
}

.button:focus {
  transition: all 0.15s ease-in;
  animation: button-click 0.15s ease-in;
  outline: none;
}

.button_panel {
  align-items: stretch;
}

.button_panel_row,
.button {
  height: 100px;
}